@page "/"
@inject RssService RssService

<h1>Articles</h1>

<RssItemList Items="@items"/>

@code {
    private List<RssItem> items = null;

    protected override async Task OnInitializedAsync()
    {
        items = await RssService.GetAllItemsAsync(10);

    }
}