@page "/settings/favorites"
@inject FavoriteRepository FavoriteRepository

<div class="row">
    <SettingsMenu />
    <div class="col-md-9">
        <h3>Favorites</h3>
        <EditForm Model="_favorite" OnValidSubmit="@Add_Click">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label>Name</label>
                    <InputText class="form-control" placeholder="Favorite name" @bind-Value="_favorite.Name" />
                    <ValidationMessage For="(() => _favorite.Name)" />
                </div>
                <div class="form-group col-md-5">
                    <label>Favorite Url</label>
                    <InputText class="form-control" placeholder="Favorite url" @bind-Value="_favorite.Uri" />
                    <ValidationMessage For="(() => _favorite.Uri)" />
                </div>
                <div class="form-group col-md-1 d-flex align-items-end text-right">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </EditForm>
        @if (favorites == null)
        {
            <Loading />
        }
        else
        {
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Url</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var favorite in favorites)
                    {
                        <tr>
                            <td>@favorite.Name</td>
                            <td>@favorite.Uri</td>
                            <td>
                                <a href="@($"/favorite/delete/{favorite.Id}")" class="btn  btn-light">
                                    <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    private Favorite _favorite = new Favorite();
    private List<Favorite> favorites;

    private async Task Add_Click()
    {
        await FavoriteRepository.AddAsync(_favorite);
        await FavoriteRepository.SaveAsync();
        favorites?.Add(_favorite);
        _favorite = new Favorite();

    }

    protected override async Task OnInitializedAsync()
    {
        favorites = await FavoriteRepository.GetFavoritesAsync();
    }

}