@page "/channel/{ChannelId:int}"
@inject RssService RssService
@inject FeedRepository FeedRepository
<h1>Canal @feed?.Name </h1>

<RssItemList Items="@items" />

@code {
    private List<RssItem> items = null;
    private Feed feed = null;

    [Parameter]
    public int ChannelId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        feed = await FeedRepository.GetByIdAsync(ChannelId);
        items = await RssService.GetRssItemsAsync(feed);

    }
}
